<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>A list of topics</title>
</head>

<body>
	<header>
		<h1>A List of Topics</h1>
	</header>
	
		<section class="add-topic">
		<input type="text" placeholder="add a topic"/>
		<button>Submit</button>
		</section>
		
	
	<section class="topics-list">
		<ul>
			<li th:if="${topics.size() ==0}">Currently no topics...please add one!</li>
			<li th:if="${topics.size() !=0}" th:each="topic: ${topics}">
			  <input class="topicId" name="id" type="hidden" th:value="${topic.id}"/>
			  <a th:href="@{/topic(id=${topic.id})}" th:text="${topic.name}"></a>
			  <button class="x">&times;</button></li>
		</ul>
	</section>
	
	<script src = "./js/server-requests.js"></script>

</body>
</html>